# Django
*.db
*.sqlite3
/media
/staticfiles
static/*
static/**/*

# Environment
.env
venv/
env/

# VSCode
.vscode/

#git
.gitignore

# Theme - Only ignore compiled CSS, track source
theme/static/css/dist/
node_modules/

!static/js/lineup-manager.js