# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myvenv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment
.env
.env.example

# IDE / Editor
.vscode/
.idea/

# Other
.pytest_cache/
node_modules/
debug.log
error.txt
